@using Sbi.RoomDisplay.Helpers

@{
    Layout = null;

    // AUTO MODE (TV selalu dark theme)
    var brandMode = BrandMode.Dark;

    var sbiLogo = BrandHelper.GetSbiLogo(brandMode);
    var sigLogo = BrandHelper.GetSigLogo(brandMode);

    var headerClass = brandMode == BrandMode.Light
        ? "header-light"
        : "header-dark";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SBI Room Display</title>
    <link rel="stylesheet" href="~/css/tv-display.css" />
</head>

<body>

<div class="tv-wrapper">

    <!-- HEADER -->
    <div class="tv-header @headerClass">

        <div class="brand-left">
            <img src="@sbiLogo" />
            <img src="@sigLogo" />
        </div>

        <div class="room-title">
            @RenderSection("RoomTitle", false)
        </div>

        <div class="clock" id="clock">--:--:--</div>

    </div>

    <!-- BODY -->
    @RenderBody()
    @RenderSection("Scripts", required: false)
    
    <!-- FOOTER -->
    <div class="tv-footer">
        © PT Solusi Bangun Indonesia Tbk
    </div>

</div>

</body>
</html>
